/*DB Access*/
USE [MunITCR]
GO

/* 
	@proc_name SP_ReadFacturaPagadaPropiedadIn
	@proc_description 
	@proc_param @inPropiedad 
	@proc_param outResultCode Procedure return value
*/
CREATE OR ALTER PROCEDURE [SP_ReadFacturaPagadaPropiedadIn]
	@inPropiedad VARCHAR(32),
	@outResultCode INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SET @outResultCode = 0; /* Unassigned code */
		
		/* Get the PK from "Propiedad" using @inPropiedad */
		DECLARE @idPropiedad INT;
		SELECT @idPropiedad = [P].[ID] 
		FROM [dbo].[Propiedad] AS [P]
		WHERE [P].[Lote] = @inPropiedad;

		/* Show "facturas pagadas" "no anuladas" from @idPropiedad based on "comprobante de pago" */
		IF (@idPropiedad IS NOT NULL)
			BEGIN 
				SELECT 
					[F].[Referencia] AS [Factura],
					[F].[Fecha] AS [Fecha],
					[F].[FechaVencimiento] AS [FechaVencimiento],
					[F].[MontoOriginal] AS [Subtotal],
					(SELECT [F].[MontoPagar] - [F].[MontoOriginal]) AS [Morosidades],
					[F].[MontoPagar] AS [Total],
					[CP].[Referencia] AS [Comprobante]
				FROM [dbo].[Factura] AS [F]
					INNER JOIN [dbo].[ComprobantePago] AS [CP]
					ON [CP].[ID] = [F].[IDComprobantePago]
				WHERE [F].[IDPropiedad] = @inPropiedad
				AND [F].[IDComprobantePago] IS NOT NULL 
				AND [F].[Activo] = 1
				ORDER BY [F].[FechaVencimiento];
				SET @outResultCode = 5200; /* OK */
			END;
	END TRY
	BEGIN CATCH
		IF OBJECT_ID(N'dbo.ErrorLog', N'U') IS NOT NULL /* Check Error table existence */
			BEGIN
				/* Update Error table */
				INSERT INTO [dbo].[ErrorLog] (
					[Username],
					[ErrorNumber],
					[ErrorState],
					[ErrorSeverity],
					[ErrorLine],
					[ErrorProcedure],
					[ErrorMessage],
					[ErrorDateTime]
				) VALUES (
					SUSER_NAME(),
					ERROR_NUMBER(),
					ERROR_STATE(),
					ERROR_SEVERITY(),
					ERROR_LINE(),
					ERROR_PROCEDURE(),
					ERROR_MESSAGE(),
					GETDATE()
				);
				SET @outResultCode = 5504; /* CHECK ErrorLog */
			END;
		ELSE 
			BEGIN
				SET @outResultCode = 5404; /* ERROR : dbo.ErrorLog DID NOT EXIST */
				RETURN;
			END;
	END CATCH;
	SET NOCOUNT OFF;
END;
GO